<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="StdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] [%c{1}] %m %n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT"/>
        </Console>
        <Console name="StdErr" target="SYSTEM_ERR">
            <PatternLayout pattern="%d %-5p [%t] [%c{1}] %m %n"/>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="StdErr"/>
        </Root>
        <Logger name="ch.algotrader.ema.strategy" level="debug" additivity="false">
            <AppenderRef ref="StdOut"/>
        </Logger>
        <!--<logger name="org.springframework" level="error" />-->
    </Loggers>
</Configuration>